<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
			<i class="fa fa-archive fa-fw"></i>{{ 'PLAYER_ASSET_TITLE_EDIT' | translate }}
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-home"></i>
				<a href="javascript:void()">{{ 'HOME_TITLE' | translate }}</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<a ui-sref="players">{{ 'PLAYER_TITLE' | translate }}</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<a ui-sref="player-view({id: PlayerAsset.PlayerId})">{{PlayerAsset.PlayerId}}</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<span>{{ 'VIEW_DETAIL_TITLE' | translate }}</span>
			</li>
			<li class="pull-right">
				<div id="dashboard-report-range" class="dashboard-date-range tooltips" data-placement="top" data-original-title="Change dashboard date range">
					<i class="fa fa-calendar"></i>
					<span></span>
					<i class="fa fa-angle-down"></i>
				</div>
			</li>
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN FORM-->
		<ng-form name="playerAssetEditForm" class="form-horizontal">
			<div class="form-body">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">{{ 'PLAYER_ASSET_LABEL_ASSETNAME' | translate }}</label>
							<div class="col-md-9">
								<input type="text" name="AssetName" class="form-control" ng-model="PlayerAsset.AssetName"
								       typeahead="item for item in getASAsset($viewValue)" typeahead-template-url="template/typeahead/typeahead-asset-match.html" typeahead-on-select="onAssetSelect($item)">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group" ng-class="{'has-error': playerAssetEditForm.CreatedDate.$invalid && !playerAssetEditForm.CreatedDate.$pristine}">
							<label class="control-label col-md-3">{{ 'PLAYER_ASSET_LABEL_CREATEDDATE' | translate }}</label>
							<div class="col-md-9">
								<input type="text" name="CreatedDate" class="form-control" ng-model="PlayerAsset.CreatedDate" bs-datepicker
									   bs-show="showCreatedDatePicker" ng-blur="showCreatedDatePicker = false" ng-click="showCreatedDatePicker = true"
									   ng-class="{'error': (playerAssetEditForm.CreatedDate.$error.date && !playerAssetEditForm.CreatedDate.$pristine)}" show-errors>
								<span class="help-block" ng-show="playerAssetEditForm.CreatedDate.$error.date && !playerAssetEditForm.CreatedDate.$pristine">
									{{ 'INPUT_WRONG_FORMAT' | translate }}
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" ng-class="{'has-error': playerAssetEditForm.UpdatedDate.$invalid && !playerAssetEditForm.UpdatedDate.$pristine}">
							<label class="control-label col-md-3">{{ 'PLAYER_ASSET_LABEL_USED' | translate }}</label>
							<div class="col-md-9">
								<select class="form-control" ng-model="PlayerAsset.Used">
									<option value="0">{{ 'PLAYER_STAR_SLC_USED_UNUSE' | translate }}</option>
									<option value="1">{{ 'PLAYER_STAR_SLC_USED_USED' | translate }}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group" ng-class="{'has-error': playerAssetEditForm.UsedDate.$invalid && !playerAssetEditForm.UsedDate.$pristine}">
							<label class="control-label col-md-3">{{ 'PLAYER_ASSET_LABEL_USEDDATE' | translate }}</label>
							<div class="col-md-9">
								<input type="text" name="UsedDate" class="form-control" ng-model="PlayerAsset.UsedDate" bs-datepicker
									   bs-show="showUsedDatePicker" ng-blur="showUsedDatePicker = false" ng-click="showUsedDatePicker = true"
									   ng-class="{'error': (playerAssetEditForm.UsedDate.$error.date && !playerAssetEditForm.UsedDate.$pristine)}" show-errors>
								<span class="help-block" ng-show="playerAssetEditForm.UsedDate.$error.date && !playerAssetEditForm.UsedDate.$pristine">
									{{ 'INPUT_WRONG_FORMAT' | translate }}
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">{{ 'PLAYER_ASSET_LABEL_USEDCARD' | translate }}</label>
							<div class="col-md-9">
								<input type="text" class="form-control" typeahead="item for item in getASCard($viewValue)" typeahead-template-url="template/typeahead/typeahead-card-match.html" typeahead-on-select="onCardSelect($item)" ng-model="CardValue">
								<span ng-if="PlayerAsset.Question1">{{PlayerAsset.Question1}}</span><br>
								<span ng-if="PlayerAsset.Question2">{{PlayerAsset.Question2}}</span><br>
								<span ng-if="PlayerAsset.Question3">{{PlayerAsset.Question3}}</span><br>
								<!--<span>Type: {{Type}}</span>--><!--<span>Difficulty: {{Difficulty}}</span>-->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="fluid">
				<div class="row">
					<div class="col-md-6">
						<div class="col-md-offset-3 col-md-9">
							<button type="button" class="btn btn-success" ng-click="updatePlayerAsset()">{{ 'BUTTON_UPDATE_INFORMATION' | translate }}</button>
							<button type="button" class="btn btn-default" ng-click="doTheBack()">{{ 'BUTTON_CANCEL' | translate }}</button>
						</div>
					</div>
				</div>
			</div>
		</ng-form>
		<!-- END FORM-->
	</div>
</div>
