<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
			Add New Listing Address
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-home"></i>
				<a href="javascript:void()">Home</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<a ui-sref="accounts">Accounts</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<a ui-sref="listings">Listings</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<a ui-sref="listing-view({id: listingId, tab: 1, page: 1})">Listing: {{listingId}}</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<a href="javascript:void()">Add New Address</a>
			</li>
			<li class="pull-right">
				<div id="dashboard-report-range" class="dashboard-date-range tooltips" data-placement="top" data-original-title="Change dashboard date range">
					<i class="fa fa-calendar"></i>
					<span></span>
					<i class="fa fa-angle-down"></i>
				</div>
			</li>
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN FORM-->
		<ng-form name="addressAddForm" class="form-horizontal">
			<div class="form-body">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" ng-class="{'has-error': addressAddForm.AddressLine1.$invalid && !addressAddForm.AddressLine1.$pristine}">
							<label class="control-label col-md-3">Address Line 1<span class="required">*</span></label>
							<div class="col-md-9">
								<input type="text" name="AddressLine1" ng-model="Address.AddressLine1" required show-errors class="form-control">
								<span class="help-block" ng-show="addressAddForm.AddressLine1.$invalid && !addressAddForm.AddressLine1.$pristine">
									This field is required
								</span>
							</div>
						</div>
					</div>
					<!--/span-->
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">Address Line 2</label>
							<div class="col-md-9">
								<input type="text" name="AddressLine2" ng-model="Address.AddressLine2" class="form-control">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">City</label>
							<div class="col-md-9">
								<input type="text" name="City" ng-model="Address.City" class="form-control">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">Province State</label>
							<div class="col-md-9">
								<input type="text" name="ProvinceState" ng-model="Address.ProvinceState" class="form-control">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">Country</label>
							<div class="col-md-9">
								<input type="text" name="Country" class="form-control" ng-model="Address.Country">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">Postal Zip</label>
							<div class="col-md-9">
								<input type="text" name="PostalZip" class="form-control" ng-model="Address.PostalZip">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">GPS Latitude</label>
							<div class="col-md-9">
								<input type="text" name="GPSLatitude" class="form-control" ng-model="Address.GPSLatitude">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">GPS Longitude</label>
							<div class="col-md-9">
								<input type="text" name="GPSLongitude" class="form-control" ng-model="Address.GPSLongitude">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="fluid">
				<div class="row">
					<div class="col-md-6">
						<div class="col-md-offset-3 col-md-9">
							<button type="button" class="btn btn-success" ng-click="createAddress()">Create Address</button>
							<button type="button" class="btn btn-default" ng-click="doTheBack()">Cancel</button>
						</div>
					</div>
					<div class="col-md-6">
					</div>
				</div>
			</div>
		</ng-form>
		<!-- END FORM-->
	</div>
</div>
