<link href="dist/styles/lock.min.css" rel="stylesheet" />
<div class="page-lock">
	<div class="page-body">
		<div class="lock-head">
			Locked
		</div>
		<div class="lock-body">
			<div class="pull-left lock-avatar-block">
				<img src="../../dist/images/avatar.PNG" class="lock-avatar">
			</div>
			<form class="lock-form pull-left">
				<h4>Phat Nguyen</h4>
				<!--<div class="form-group">
					<input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password">
				</div>-->
				<div class="form-actions">
					<button class="btn btn-success uppercase" ng-click="refreshToken()">Login</button>
				</div>
			</form>
		</div>
		<div class="lock-bottom">
			<a href="">Not Phat Nguyen?</a>
		</div>
	</div>
</div>
	
