<div class="row">
	<div class="col-md-6" ng-show="!isSuccessReset">
		<ng-form name="resetPasswordForm" class="form-horizontal listing-add-form">
			<div class="form-body">
				<h3 class="form-section">Reset Your Password</h3>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group" ng-class="{'has-error': resetPasswordForm.Email.$invalid && !resetPasswordForm.Email.$pristine && !resetPasswordForm.Email.$focused}">
							<label class="control-label col-md-3">Email</label>
							<div class="col-md-6">
								<input type="email" name="Email" ng-model="User.Email" show-errors class="form-control" placeholder="Ex: admin@besp.com">
								<span class="help-block" ng-show="resetPasswordForm.Email.$invalid && !resetPasswordForm.Email.$pristine && !resetPasswordForm.Email.$focused">
									This field has error.
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group" ng-class="{'has-error': resetPasswordForm.Password.$invalid && !resetPasswordForm.Password.$pristine}">
							<label class="control-label col-md-3">Password<span class="required">*</span></label>
							<div class="col-md-6">
								<input type="password" name="Password" ng-model="User.Password" required show-errors class="form-control">
								<span class="help-block" ng-show="resetPasswordForm.Password.$invalid && !resetPasswordForm.Password.$pristine">
									This field is required
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group" ng-class="{'has-error': resetPasswordForm.ConfirmPassword.$invalid && !resetPasswordForm.ConfirmPassword.$pristine}">
							<label class="control-label col-md-3">Confirm Password<span class="required">*</span></label>
							<div class="col-md-6">
								<input type="password" name="ConfirmPassword" ng-model="User.ConfirmPassword" required show-errors class="form-control">
								<span class="help-block" ng-show="resetPasswordForm.ConfirmPassword.$error.required && !resetPasswordForm.ConfirmPassword.$pristine">
									This field is required
								</span>
								<span class="help-block" ng-show="resetPasswordForm.ConfirmPassword.$dirty && resetPasswordForm.ConfirmPassword.$error.pwCheck">
									Confirmation password must match.
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row" ng-show="error">
					<div class="col-md-12">
						<div class="form-group has-error">
							<label class="control-label col-md-3"></label>
							<div class="col-md-6">
								<span class="help-block" ng-repeat="err in errorList">
									{{err}}
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-offset-3 col-md-6">
							<button type="button" class="btn btn-success" ng-click="resetPassword()">Reset Password</button>
						</div>
					</div>
				</div>
			</div>
		</ng-form>
	</div>
	<div class="col-md-6" ng-show="isSuccessReset">
		<div class="form-body">
			<h3 class="form-section">Reset Password Confirmation</h3>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label col-md-12">Your password has been reset. Please <a href="#/login">click here to login</a></label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

