<div class=" page-sidebar-wrapper">
	<div id="nav-main" class="page-sidebar navbar-collapse collapse">
		<!-- BEGIN SIDEBAR MENU -->
		<ul class="page-sidebar-menu">
			<li class="sidebar-toggler-wrapper">
				<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
				<div class="sidebar-toggler">
				</div>
				<div class="clearfix">
				</div>
				<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
			</li>
			<li class="start" ng-class="{active: $state.includes('accounts') || $state.includes('account-view') ||
													$state.includes('account-add') || $state.includes('listing-view') ||
													$state.includes('banner-add') || $state.includes('banner-view') ||
													$state.includes('address-add') || $state.includes('address-view')}">
				<a ui-sref="accounts">
					<i class="fa fa-user"></i>
					<span class="title">Accounts
					</span>
					<span class="selected"></span>
				</a>
			</li>
			<li ng-class="{active: $state.includes('listings')}">
				<a ui-sref="listings">
					<i class="fa fa-list"></i>
					<span class="title">Listings
					</span>
				</a>
			</li>
			<li ng-class="{active: $state.includes('banners')}">
				<a ui-sref="banners">
					<i class="fa fa-flag-o"></i>
					<span class="title">Banners
					</span>
					<span class=""></span>
				</a>
			</li>
			<li ng-class="{active: $state.includes('keywords')}">
				<a ui-sref="keywords">
					<i class="fa fa-font"></i>
					<span class="title">Keywords
					</span>
					<span class=""></span>
				</a>
			</li>
			<li ng-class="{active: $state.includes('categories') || $state.includes('category-view') || $state.includes('category-add') }">
				<a ui-sref="categories">
					<i class="fa fa-tags"></i>
					<span class="title">
						Categories
					</span>
					<span class=""></span>
				</a>
			</li>
		</ul>
		<!-- END SIDEBAR MENU -->
	</div>
</div>
<script>
	jQuery(document).ready(function () {
		App.init(); // initlayout and core plugins
	});

	$(function () {
	    var navMain = $("#nav-main");
	    navMain.on("click", "a", null, function () {
	        navMain.collapse('hide');
	        //window.scrollTo(0,0);
	    });
	});
</script>

