<div class=" page-sidebar-wrapper">
	<div id="nav-main" class="page-sidebar navbar-collapse collapse">
		<!-- BEGIN SIDEBAR MENU -->
		<ul class="page-sidebar-menu">
			<li class="sidebar-toggler-wrapper">
				<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
				<div class="sidebar-toggler">
				</div>
				<div class="clearfix">
				</div>
				<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
			</li>
			<li class="start" ng-class="{active: $state.includes('card-groups') || $state.includes('card-group-view') ||
													$state.includes('card-group-add')}">
				<a ui-sref="card-groups">
					<i class="fa fa-user"></i>
					<span class="title">Card Groups
					</span>
					<span class="selected"></span>
				</a>
			</li>
			<li ng-class="{active: $state.includes('cards') || $state.includes('card-view') ||
													$state.includes('card-add')}">
				<a ui-sref="cards">
					<i class="fa fa-list"></i>
					<span class="title">Cards
					</span>
				</a>
			</li>
			<li ng-class="{active: $state.includes('Players')}">
				<a ui-sref="players">
					<i class="fa fa-flag-o"></i>
					<span class="title">Players
					</span>
					<span class=""></span>
				</a>
			</li>
		</ul>
		<!-- END SIDEBAR MENU -->
	</div>
</div>
<script>
	jQuery(document).ready(function () {
		App.init(); // initlayout and core plugins
	});

	$(function () {
	    var navMain = $("#nav-main");
	    navMain.on("click", "a", null, function () {
	        navMain.collapse('hide');
	        //window.scrollTo(0,0);
	    });
	});
</script>

