<!-- BEGIN PAGE HEADER-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
			<i class="fa fa-tags"></i>Categories
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-home"></i>
				<a href="javascript:void()">Home</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<a ui-sref="categories">Categories</a>
				<i class="fa fa-angle-right"></i>
			</li>
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->
<div class="row">
	<div class="col-md-12">
		<div class="table-toolbar">
			<div class="btn-group">
				<a ui-sref="category-add" class="btn btn-success">
					Add New Category <i class="fa fa-plus"></i>
				</a>
			</div>
			<div class="btn-group pull-right">
				<div class="dataTables_filter"><label>Search: <input type="text" class="form-control input-small" ng-model="SearchValue" ng-change="Search()"></label></div>
			</div>
		</div>
        <div class="table-responsive">
            <table ng-table="tableParams" class="table table-striped table-bordered table-hover">
                <tr ng-repeat="item in $data">
	                <td style="width: 50px; text-align: center" data-title="'Id'">
		                 <a href="#/category/view/{{item.Id}}">{{item.Id}}</a>
	                </td>
                    <td style="text-align: left" data-title="'Name'" sortable="'Name'" ng-bind="item.Name"></td>
                    <td style="text-align: left; font-weight: bold" data-title="'Parent Category'">
                        <a href="#/category/view/{{item.ParentId}}">{{item.ParentCategoryName}}</a>
                    </td>
                    <td style="text-align: center" data-title="'Type'" sortable="'Type'" ng-bind="getCategoryType(item.Type)"></td>

                    <td style="width: 80px; text-align: center">
                        <a href="#/category/view/{{item.Id}}" class="btn btn-default btn-sm ng-scope"><span class="glyphicon glyphicon-pencil"></span></a>
                    </td>
                    <td style="width: 80px; text-align: center">
                        <button href="#" class="btn btn-danger btn-sm ng-scope" ng-click="showDeleteConfirmation(item.Id)"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                </tr>
            </table>
        </div>
	</div>
</div>

