<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
			Edit Category
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-home"></i>
				<a href="javscript:void()">Home</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<a ui-sref="categories">Categories</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<a href="javscript:void()">View Category</a>
			</li>
			<li class="pull-right">
				<div id="dashboard-report-range" class="dashboard-date-range tooltips" data-placement="top" data-original-title="Change dashboard date range">
					<i class="fa fa-calendar"></i>
					<span></span>
					<i class="fa fa-angle-down"></i>
				</div>
			</li>
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN FORM-->
		<ng-form name="categoryEditForm" class="form-horizontal">
			<div class="form-body">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" ng-class="{'has-error': categoryEditForm.Name.$invalid && !categoryEditForm.Name.$pristine}">
							<label class="control-label col-md-3">Name<span class="required">*</span></label>
							<div class="col-md-9">
								<input type="text" name="Name" ng-model="Category.Name" required show-errors class="form-control">
								<span class="help-block" ng-show="categoryEditForm.Name.$invalid && !categoryEditForm.Name.$pristine">
									This field is required
								</span>
							</div>
						</div>
					</div>
					<!--/span-->
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">Parent Category</label>
							<div class="col-md-9">
								<input type="text" name="ParentCategory" ng-model="Category.ParentCategoryName" class="form-control"
								       typeahead="category for category in getASCategory($viewValue)"
								       typeahead-template-url="template/typeahead/category-match.tpl.html"
								       typeahead-on-select="onCategorySelect($item)">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">Name FR</label>
							<div class="col-md-9">
								<input type="text" name="Name_FR" ng-model="Category.Name_FR" class="form-control">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">Name ES</label>
							<div class="col-md-9">
								<input type="text" name="Name_ES" ng-model="Category.Name_ES" class="form-control">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">Name PT</label>
							<div class="col-md-9">
								<input type="text" name="Name_PT" ng-model="Category.Name_PT" class="form-control">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">Type</label>
							<div class="col-md-9">
								<select class="form-control" ng-model="Category.Type">
									<option value="1">Business</option>
									<option value="2">Event</option>
									<option value="3">Public Places</option>
									<option value="4">Public Services</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="row" ng-show="error">
					<div class="col-md-6">
						<div class="form-group has-error">
							<label class="control-label col-md-3"></label>
							<div class="col-md-9">
								<span class="help-block" ng-bind="message">
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="fluid">
				<div class="row">
					<div class="col-md-6">
						<div class="col-md-offset-3 col-md-9">
							<button type="button" class="btn btn-success" ng-click="updateCategory()">Save Information</button>
							<button type="button" class="btn btn-default" ng-click="doTheBack()">Cancel</button>
						</div>
					</div>
					<div class="col-md-6">
					</div>
				</div>
			</div>
		</ng-form>
		<!-- END FORM-->
	</div>
</div>
